<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title> {{ page.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        {{ content }}
      </div>

      <div class="foot">
        <p><strong>Subscribe: </strong><a href="/feed.xml">RSS Feed</a>.</p>
      </div>
    </div>
  </body>
  <script async src="http://www.mindmup.com/external-embed.js"></script>
</html>
